
.login-button{
  display: flex;
  justify-content: flex-end;
  padding: 20px;
  cursor: pointer;
}

.login{
  padding-left: 10px;
}

.logo-top{
  display: flex;
  justify-content: center;
}

.logo{
  width: 120px;
}

.nav-menu-area{
  display: flex;
  justify-content: center;
}

.list{
  display: flex;
    list-style-type: none;
    padding: 20px;
}

.list li{
  margin: 10px;
}

.search{
  border-bottom: 1px solid #000;
  padding: 5px;
  position: absolute;
  right: 20px;
}


.search input{
  border: none;
  margin-left: 5px;
}

.product-items{
  border: none!important;
  margin-bottom: 10px;

}
.product-items:hover{
  transform: scale(1.4)
}

.detail-img{
  display: flex;
  justify-content: flex-end;
}

.buttonDetail{
  width: 700px;
  height: 100px;
  margin-top: 50px;
  background-color: gray;
}